# Data frames

In this tutorial we'll explore data frames, the primary object in many data analytics and machine learning applications. We'll start with one of R's built-in data frames, mtcars.

## Basics

In [1]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

Instead of dumping the entire contents of the data frame, we can display the first or last rows using the head and tail functions, respectively. With a single argument, the name of the data frame, these functions return the header plus six rows of data. By adding a second optional argument, we can specify the number of rows.

In [2]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [3]:
tail(mtcars,3)

              mpg  cyl disp hp  drat wt   qsec vs am gear carb
Ferrari Dino  19.7 6   145  175 3.62 2.77 15.5 0  1  5    6
Maserati Bora 15.0 8   301  335 3.54 3.57 14.6 0  1  5    8
Volvo 142E    21.4 4   121  109 4.11 2.78 18.6 1  1  4    2

The row names are returned using the rownames function

In [5]:
rownames(mtcars)

 [1] "Mazda RX4"           "Mazda RX4 Wag"       "Datsun 710"
 [4] "Hornet 4 Drive"      "Hornet Sportabout"   "Valiant"
 [7] "Duster 360"          "Merc 240D"           "Merc 230"
[10] "Merc 280"            "Merc 280C"           "Merc 450SE"
[13] "Merc 450SL"          "Merc 450SLC"         "Cadillac Fleetwood"
[16] "Lincoln Continental" "Chrysler Imperial"   "Fiat 128"
[19] "Honda Civic"         "Toyota Corolla"      "Toyota Corona"
[22] "Dodge Challenger"    "AMC Javelin"         "Camaro Z28"
[25] "Pontiac Firebird"    "Fiat X1-9"           "Porsche 914-2"
[28] "Lotus Europa"        "Ford Pantera L"      "Ferrari Dino"
[31] "Maserati Bora"       "Volvo 142E"

The number of rows and columns can be returned using the nrow and ncol functions.

In [6]:
nrow(mtcars)

[1] 32

In [7]:
ncol(mtcars)

[1] 11

The contents of a cell can be accessed by the row and column indexes or names. Note that the pair is comma separated and enclosed by square brackets and we can mix or match indexes and names.

In [8]:
mtcars[6,4]

[1] 105

In [8]:
mtcars["Valiant", "hp"]

[1] 105

In [9]:
mtcars["Valiant", 4]

[1] 105

In [10]:
mtcars[6, "hp"]

[1] 105

## Column operations

The contents of a column can be returned by index/name enclosed in double square brackets, the dollar (\$) operator or the index/name following a comma in single square brackets. In this last option, the missing argument before the comma represents a wildcard.

In [11]:
mtcars[["wt"]]

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

In [12]:
mtcars[[6]]

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

In [13]:
mtcars$wt

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

In [14]:
mtcars[,"wt"]

 [1] 2.620 2.875 2.320 3.215 3.440 3.460 3.570 3.190 3.150 3.440 3.440 4.070
[13] 3.730 3.780 5.250 5.424 5.345 2.200 1.615 1.835 2.465 3.520 3.435 3.840
[25] 3.845 1.935 2.140 1.513 3.170 2.770 3.570 2.780

The usual list functions can be applied to a column.

In [15]:
max(mtcars$wt)

[1] 5.424

In [16]:
sum(mtcars$wt)

[1] 102.952

## Slices

One of the key data frame operations is generating slices by column, row or a combination of the two.

### Column slices

Acessing a column by index or name using single square brackets returns a "column slice" of the data frame. A slice containing multiple columns can be created using a vector of indexes or names and the result can be assigned to a new data frame.

In [17]:
head(mtcars["hp"])

                  hp
Mazda RX4         110
Mazda RX4 Wag     110
Datsun 710         93
Hornet 4 Drive    110
Hornet Sportabout 175
Valiant           105

In [18]:
df1 <- mtcars[c("mpg", "cyl", "wt", "carb")]

In [19]:
head(df1)

                  mpg  cyl wt    carb
Mazda RX4         21.0 6   2.620 4
Mazda RX4 Wag     21.0 6   2.875 4
Datsun 710        22.8 4   2.320 1
Hornet 4 Drive    21.4 6   3.215 1
Hornet Sportabout 18.7 8   3.440 2
Valiant           18.1 6   3.460 1

A column can be removed from a data frame by assigning NULL to the column. In the example below, we remove the "wt" column.

In [20]:
df1$wt <- NULL

In [21]:
head(df1)

                  mpg  cyl carb
Mazda RX4         21.0 6   4
Mazda RX4 Wag     21.0 6   4
Datsun 710        22.8 4   1
Hornet 4 Drive    21.4 6   1
Hornet Sportabout 18.7 8   2
Valiant           18.1 6   1

### Row slices

We can generate a "row slice" of the data frame by specifying a name, index, vector of names or vector of indexes in single square brackets followed by a comma. The missing argument aftr the comma represents a wildcard.

In [22]:
mtcars[3,]

           mpg  cyl disp hp drat wt   qsec  vs am gear carb
Datsun 710 22.8 4   108  93 3.85 2.32 18.61 1  1  4    1

In [23]:
mtcars[c(3,5,7),]

                  mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Datsun 710        22.8 4   108   93 3.85 2.32 18.61 1  1  4    1
Hornet Sportabout 18.7 8   360  175 3.15 3.44 17.02 0  0  3    2
Duster 360        14.3 8   360  245 3.21 3.57 15.84 0  0  3    4

In [24]:
mtcars[c("Datsun 710", "Duster 360"),]

           mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Datsun 710 22.8 4   108   93 3.85 2.32 18.61 1  1  4    1
Duster 360 14.3 8   360  245 3.21 3.57 15.84 0  0  3    4

In [25]:
which(mtcars$hp > 200)

[1]  7 15 16 17 24 29 31

Row slices can also be generated by filtering on values. In the example below, we select all cars with "hp" > 240

In [26]:
mtcars[which(mtcars$hp > 240),]

               mpg  cyl disp hp  drat wt   qsec  vs am gear carb
Duster 360     14.3 8   360  245 3.21 3.57 15.84 0  0  3    4
Camaro Z28     13.3 8   350  245 3.73 3.84 15.41 0  0  3    4
Ford Pantera L 15.8 8   351  264 4.22 3.17 14.50 0  1  5    4
Maserati Bora  15.0 8   301  335 3.54 3.57 14.60 0  1  5    8

### Slicing by row and column

As you might expect, we can generate arbitrary slices by row and column

In [27]:
mtcars[c("Datsun 710", "Duster 360", "Valiant"), c("mpg", "wt", "carb")]

           mpg  wt   carb
Datsun 710 22.8 2.32 1
Duster 360 14.3 3.57 4
Valiant    18.1 3.46 1